.small-news-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
.small-news-picture-container{
    height: 90%; 
    background-color: gray;  
}
.small-news-title{
    margin: 0;
}
.small-news-subtitle{
    margin: 0;
}